<%= form_with model: roll_table do |form| %>   
  <ul> <!-- map component attributes  to =>  completion[attributes]-->
    <li><%=form.label :name, "Create a Roll-Table" %></li>
         <%= form.fields_for :rows do |rows_form| %>
           <%= form.fields_for :row_columns do |row_columns_form| %>
          <%end %>

         <%end %>

        



        <%= form.label :row_count, "table length" %>
        <%= form.number_field :row_count, value: 2 %>
        <%= form.label :column_count, "columns" %>
        <%= form.number_field :column_count, value: 1%>
        <%= form.submit %>

    </li>
  </ul>
  


<% end %> 





