<%= form_with model: roll_table do |form| %>   
  <ul> <!-- map component attributes  to =>  completion[attributes]-->
    <li><%=form.label :name, "Create a Roll-Table" %></li>

        <%= form.label :row_count, "table length" %>
        <%= form.number_field :row_count, value: 2 %>
        <%= form.label :column_count, "columns" %>
        <%= form.number_field :column_count, value: 1%>
    </li>
  </ul>
  
<% end %> 

<%= render roll_table.rows %>




 <%= form.fields_for :rows do |rows_form| %>
      <%= form.fields_for :row_columns do |row_columns_form| %>
        <%= row_columns_form.label "column" %>
        <%= row_columns_form.text_field :label %>
        <%= row_columns_form.check_box :_destroy %>
      <%end %>
    <%end %>


<!--
  link to new table with current data + an untitled column


    <form action="<%=new_roll_table_url()%>">
      <input type="hidden" name="roll_table[table_type]" value="<#roll_table.table_type%>">
      <input type="hidden" name="roll_table[row_count]" value="<#roll_table.row_count%>"> 
      <input type="hidden" name="roll_table[column_list]" value="<#roll_table.column_list += " new column"%>"> 
      <input type="hidden" name="roll_table[completion]" value="<#roll_table.completion%>"> 
    <input type="add column sumbit">
    </form>
 -->

          <!--
            row.times.each do |row_number|
             <%# form.text_field "completion[num][entered_col]"%>
            end

          needs to submit a string to params
              needs to take in and display a string (split)  add new (add to array and reload)
              needd to display a list of text_fields
          -->

