<h3>New <%=@roll_table.link_type%> table</h3>

<h3><%=@roll_table.table_type%></h3>

<!-- new-->
<%= form_with model: @roll_table do |form| %>  

  <%= form.hidden_field :row_count, value: @roll_table.row_count %>
  <%= form.hidden_field :column_count, value: @roll_table.column_count %>
  <%= form.hidden_field :context, value: @roll_table.context %>
  <%= form.hidden_field :link_id, value: @roll_table.link_id %>
  <%= form.hidden_field :link_type, value: @roll_table.link_type %>


  
    <li><%=form.label :table_type, "Table Type" %>
       <%= form.text_field :table_type, value: @roll_table.table_type.titleize  %>
    </li>

  <%@roll_table.row_count.times do |row_num| %>
    <li><%=form.label :entry_name, "#{row_num+1}" %>
    <%= form.text_field "completion[#{row_num+1}][name]", placeholder: "Goblin"%>
    </li>
  <% end %>


  <%= button_tag "Save", {:class => "bttn-and-txt", :name => "submit", :value => "save"} %>
  <%= button_tag "Generate", {:class => "bttn-and-txt", :name => "submit", :value => "generate"} %>
<%end%>

<br>
<br>



<!-- 

OLD

<%# form_with model: @roll_table do |form| %>  
    <li><%#form.label :table_type, "Table Type" %>
    <%# form.text_field :table_type, value: @roll_table.table_type.titleize  %>
    </li>
  <%# form.hidden_field :row_count, value: @roll_table.row_count %>
  <%# form.hidden_field :column_count, value: @roll_table.column_count %>


  <%# form.label :labels, "Row Columns" %>
    <%# @roll_table.column_count.times do |column| %>
    <%# form.label :column_label,  "#{column+1}" %>
    <input type="text" name="roll_table[labels][]">
  <%#end %>



    

  <%# button_tag "Save", {:class => "bttn-and-txt", :name => "submit", :value => "save"} %>
  <%# button_tag "Generate", {:class => "bttn-and-txt", :name => "submit", :value => "generate"} %>
<%#end%>

-->




