<h3>New <%=@roll_table.link_type%> Table</h3>

<%= form_with model: @roll_table do |form| %>  

  <%= form.hidden_field :row_count, value: @roll_table.row_count %>
  <%= form.hidden_field :column_count, value: @roll_table.column_count %>
  <%= form.hidden_field :context, value: @roll_table.context %>
  <%= form.hidden_field :link_id, value: @roll_table.link_id %>
  <%= form.hidden_field :link_type, value: @roll_table.link_type %>
  
    <li><%=form.label :table_type, "Table Type" %>
       <%= form.text_field :table_type, value: @roll_table.table_type.titleize  %>
       <p>loot, side-quests, plot threads, encounters, etc</p>
    </li>
     <li><%=form.label :row_count, "Table Length" %>
       <%= form.number_field :row_count, value: 6 %>
    </li>

  <%= button_tag "Save", {:class => "bttn-and-txt", :name => "submit", :value => "save"} %>
  <%= button_tag "Generate", {:class => "bttn-and-txt", :name => "submit", :value => "generate"} %>
<%end%>

<%= link_to 'back', :back %>









<!-- 

OLD

<%# form_with model: @roll_table do |form| %>  
    <li><%#form.label :table_type, "Table Type" %>
    <%# form.text_field :table_type, value: @roll_table.table_type.titleize  %>
    </li>
  <%# form.hidden_field :row_count, value: @roll_table.row_count %>
  <%# form.hidden_field :column_count, value: @roll_table.column_count %>


  <%# form.label :labels, "Row Columns" %>
    <%# @roll_table.column_count.times do |column| %>
    <%# form.label :column_label,  "#{column+1}" %>
    <input type="text" name="roll_table[labels][]">
  <%#end %>



    

  <%# button_tag "Save", {:class => "bttn-and-txt", :name => "submit", :value => "save"} %>
  <%# button_tag "Generate", {:class => "bttn-and-txt", :name => "submit", :value => "generate"} %>
<%#end%>

-->




