<h1>Edit</h1>
<p>---------------------</p>
<%= form_with model: @quest do |form| %>

  <div>
    <p> <%= link_to "Roll All", edit_quest_path(@quest.id, 'all')%></p>  

    
    <%=form.text_field :villain %><br>
    <%=form.text_field :location %><br>
    <%=form.text_field :objective %><br>
    <%=form.text_field :timer %><br>
    <%=form.submit %> 


    <div>
      <p><%= link_to "Roll", edit_quest_path(@quest.id, 'villain')%></p>  
      <%=form.label 'Villain'%>
      <li><%=@quest.villain%></li> 

      <p> <%= link_to "Roll", edit_quest_path(@quest.id, 'location')%></p>
      <%=form.label 'Location'%>
      <li><%=@quest.location %></li>

      <p> <%= link_to "Roll", edit_quest_path(@quest.id, 'objective')%></p>  
      <%=form.label 'Objective'%>
      <li><%=@quest.objective %></li>

      <p> <%= link_to "Roll", edit_quest_path(@quest.id, 'timer')%></p>  
      <%=form.label 'Timer'%>
      <li><%=@quest.timer %></li>
    </div>

   
  </div>

 <%=link_to 'Clear'%>
    <%=link_to 'Home', quests_path()%>

<% end %>