 <h3>Edit Quest</h3>
 <%= link_to "Quest List", quests_url%>

<form action="edit">

</form>


  <%= render "/completions/generate", object: @quest.settings.last, url: generate_setting(@quest.settings.last), desc: "a setting"%>

<%if @quest.response_id == nil %>
<!-- add conditional logic -->
 <%if @quest.settings.empty? %>
  <p> generate setting</p>
  <% elsif @quest.objectives.empty?%>
  <p> generate objective</p>
  <% elsif @quest.villains.empty? %>
  <p> generate villian</p>
  <% else %>
     <form action="<%=generate_quest_url(@quest)%>" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
      <input type="hidden" name="_method" value="patch">
      <br>
      <input type="submit" value="generate this quest">
    </form>

 <% end %>



  <%else %>
    <h3>Scene list</h3>
    <!-- <%# render @quest.scenes %> -->

    <h3>Scene forms</h3>
    <ul> 
      <%@quest.sequence_of_events.each do |event| %>
        <%= render "scenes/new", event: event, quest: @quest%>
      <br>
    </ul>

  <%end %>    
<h3>data<h3>
  <%= render "completions/full_completion", object: @quest, base: "quest", key_list: @quest.user_key_list %>
  <br>
  <%end %>
  <br>
<%end %>






