  show quest action
  <br>
   <%= link_to "Home", root_url%>:

 <%= link_to "Quest List", quests_url%>:

 <br>
<h3><%=@quest.name%></h3>

<% if @quest.prereqs_met? %>
      <form action="<%=generate_quest_url(@quest)%>" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="quest[]">
        <input type="submit" value="generate this quest">
      </form>
 
<!-- <%#@quest.completion %> -->

<%else %>


  Setting:
  <%= render "quests/current_setting", quest: @quest %>
Objective:
<%= render "quests/current_objective", quest: @quest %>
Villain:
<%= render "quests/current_villain", quest: @quest %>


<h3>Scene list</h3>
<%= render "quests/scene_list", quest: @quest %>



<%end %>

<br>
   render tables
  <a href="#" >(+ add new)</a>:


  <br>
  render components 
  <a href="#" >(+ add new)</a>:





