<h1><%= @quest.scenario_name%></h1>
  <%= link_to "Quest List", user_quests_url(current_user)%>

<h2>Narrative points</h2>
<ul>
  <li><%=@quest.description%></li>
  <li>Success: <%=@quest.success_consequence%></li>
  <li>Failure: <%=@quest.fail_consequence%></li>
  <li><%=@quest.plot_twist%></li>
  <li>Time until failure: <%=@quest.timer%></li>  
</ul>

<h3>Quest Components</h3>
 <ul>
  <li>Villain: <%= @quest.villain["name"]%></li>
  <li>Objective: <%= @quest.objective%></li>
  <li>Setting: <%= @quest.setting%></li>
</ul>

<h3>Encounters</h3>
  <ul> 
    <%@quest.encounter_list.each do |encounter| %>
    <li><%=encounter%></li> 
      <form action="<%=update_encounter_name_quest_url(@quest)%>" method="post"> <!--updates the response||or staged_response string quest/id/ -> update_response -->
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="encounter[new_encounter_name]" value="<%=encounter%>">
        <input type="hidden" name="encounter[old_encounter_name]" value="<%=encounter%>">  <!--['encounter_name'] may have to add these back in -->
        <input type="submit" value="update encounter name">
      </form> 

      <form action="/encounters" method="post"> <!--points a to encounter.create action generates new encounter completion-->
        <input type="hidden" name="encounter[name]" value="<%=encounter%>">
        <input type="hidden" name="encounter[quest_id]" value="<%=@quest.id%>">
        <input type="submit" value="generate this encounter">
      </form>  

    <%id = @quest.encounter_name_id_pairs[encounter]%>
    <!-- if id is nill encounter is empty and has not been generated yet-->
    <%if id != nil %>
      <!-- display extra deets-->
      <%= link_to 'View Encounter', encounter_url(id) %>
    <%end%>
    <br><br>
      <!-- add new name. remove name, input name, generate_details -->
      <!-- input new name. remove name, input name, generate_details -->
      <!-- generate -->
    <%end %><br>
      <!-- context  -->
 </ul>


<!-- links fields-->
<!--add, edit, delete fields button-->
<!-- links to encounters   points list page with all the encounters and their actions
  clicking on 'encounters' can send the completion
     'return the encounter_list -> 
     list each encounter in this format'
     this could lead to long loading times though just for trying to view an encounter
     can we process responses after rendering?


-->



<!-- render a partial  add plot twist -->

