  <%= link_to "Quest List", quests_url%>
  <br>

  <h3>Quest Components</h3>
    <h4>location</h4>
    <!--@quest.setting.all[i]  # i = (params[:setiing_index].to_i || -1) -->
    <%= render @quest.current_setting %>

    <h4>objective</h4>
    <%= render @quest.objectives %>

    <h4>villain</h4>

    <%= render @quest.villains %>

    <!--villain should be created -->
    <!--setting should already be created -->
    <!--objective should already be created -->




<!-- <%#   <%@quest.completion.each do |k, v| %> -->
<!-- <%#    <% type = v.class %> -->
<!-- <%#      <%if type == String %> -->
<!-- <%#        <%= render "quests/description", key: k, value: v %> -->
<!-- <%#      <%elsif type == Array %> -->
<!-- <%#        <%= render "quests/list", list: v%> -->
<!-- <%#      <%elsif type == Hash %> -->
<!-- <%#          <%= render "quests/item", item: v%> -->
<!-- <%#      <%end%> -->
<!-- <%#  <%end %> -->



<%if @quest.response_id == nil %>
<!-- add conditional logic -->
<%if @quest.settings.empty? %>
  <p> generate setting</p>
  <%= render "/fields/new", quest: @quest, type: "setting", options: @quest.completion, name: @quest.completion["setting"], description: ""%>
  <% elsif @quest.objectives.empty?%>
  <p> generate objective</p>
  <%= render "/fields/new", quest: @quest, type: "objective", options: @quest.completion, name: @quest.completion["objective"], description: ""%>
  <% elsif @quest.villains.empty? %>
  <p> generate villian</p>
  <%= render "/fields/new", quest: @quest, type: "villain", options: @quest.completion, name: @quest.completion["villain"], description: ""%>

<% end %>



<% else %>
  <h3>Encounters</h3>

  <%= render @quest.encounters %>
  <ul> 
    <%@quest.encounter_list.each do |encounter| %>
      <form action="/fields" method="post"> <!--points a to field.create action generates new encounter completion with passed in type-->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
        <input type="hidden" name="field[type]" value="encounter">
        <input type="hidden" name="field[name]" value="<%=encounter["title"]%>">
        <input type="hidden" name="field[quest_id]" value="<%=@quest.id%>">
        <li><%=encounter["order_number"]%>:
          <%=encounter["title"]%></li> 
          <label for="description"></label>
          <textarea name="field[description]" id="description" cols="30" rows="4">
            <%=encounter["description"]%>
          </textarea>  
          <br>
          <label for="pointer"></label>
          <textarea id="pointer" cols="30" rows="4">
            <%=encounter["next_steps"]%>
          </textarea>  
        <br>
        <input type="submit" value="generate this encounter">
      </form>  
    <%end %><br>
  </ul>
<%end %>

  <%= @quest.completion %>





