<%= form_with model: component do |form| %>
   <%= form.hidden_field :field_id, value: component.field_id %>
   <%= form.hidden_field :type, value: component.type %> 
   
  <ul> <!-- map component attributes  to =>  completion[attributes]-->
    <li><%=form.label :name, "#{component.get_type.titleize} Name" %></li>
      <%=form.text_field "completion[#{component.get_type}_name]" , value: component.name %>

    <li><%= form.label :quantity, "Quantity" %></li>
      <%=form.number_field :quantity, value: component.quantity %> <!-- model_type[title] -->

    <li><%=form.label :description, "Description" %></li>
      <%= form.text_area "completion[description]", value: component.desc %>

    <li><%=form.label :alignment, "Current Alignment: (#{component.component_alignment})" %></li>
      <%=form.select "completion[alignment]", ["Harmful", "Helpful", "Neutral"], selected: component.component_alignment %>
  </ul>
  

  <!-- mass ai values --->
  <%= render "completions/full_completion", object: component, base: component.get_type, key_list: component.user_key_list%>


  <%= button_tag "Save", {:class => "bttn-and-txt", :name => "submit", :value => "save"} %>
  <%= button_tag "Generate", {:class => "bttn-and-txt", :name => "submit", :value => "generate"} %>
<% end %> 

