
<form action="generate_timer" method="post">
  <%@encounter.time_limits.each do |timer|%>
  <input type="text" name="timer[name]" value="<%=timer['timer_name']%>">
  <input type="hidden" name="timer[description]" value="<%=timer['description']%>">
  <input type="hidden" name="timer[penalty]" value="<%=timer['penalty']%>">

  <textarea><%=timer['description']%></textarea>
  <textarea><%=timer['penalty']%></textarea>

  

  
  <input type="hidden" name="creature[field_id]" value="<%=@encounter.id%>">

  <input type="submit" value="generate this timer">
  
  <%end%>
</form>