<h3>Full view for Scenes</h3>

<%= link_to 'Back to Quest', quest_url(field.quest) %>
<br>
<h4><%=field.name%></h4>
<br>
<form action="<%=generate_field_url(field)%>" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="field[quest_id]" value="<%=field.quest_id%>">
    <input type="hidden" name="field[name]" value="<%=field.name%>">
    <input type="hidden" name="field[description]" value="<%=field.summary%>">
    <input type="submit" value="generate scene">
<br>
</form>

<%= render "fields/form", field: field %>
<!-- FRAMES
  <%# render field.frames %>  
  <br>
    <%#link_to 'New Frame', new_field_frame_url(field) %> 
  <br>
-->

<%= render field.components %>
<br>
<!-- add components -->


