

<h3>NEW SCENE</h3>
how do I update the quest completion to include the new scene
<!--scenes/_new with (field) -->
<form action="/fields" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <input type="hidden" name="field[type]" value="scene">
  <input type="hidden" name="field[quest_id]" value="<%=field.quest_id%>">
  <input type="hidden" name="" value="">
<br>
<!--creates the empty completion then the below overwrites it-->
  <%field.class.completion_user_list.each do |k, v| %>
      <label for="<%=k%>"><%=field.class.titlize_key(k)%></label>
      <textarea name="field[completion][<%=k%>]" id="<%=k%>" cols="30" rows="1"></textarea>
      <br>
  <%end %>


  <%field.class.completion_hidden_list.each do |k, v| %>
      <input type="hidden" name="field[completion][<%=k%>]">
  <%end %>

  <!-- lists blank completion as a fillable form -->

  <input type="submit" value="save">
</form>


<!--quest.context -->
  <a href="#" >generate scene</a>:





