
<!--this is what is listed on a quest_view -->
<div>
  <br>
  
  Scene <%=scene.order_number%>: <%= link_to scene.name, field_url(scene)%>: <%= link_to "Edit", edit_field_url(scene) %>:
  Frames: <%= render scene.frames %> 
  <%= link_to 'New Frame', new_field_frame_url(scene) %> 

  <br>
  
</div>
<br>