<h1>Show Scene</h3>
<%= link_to 'Quest', quest_url(@scene.quest_id) %><br>
<%= render "completions/generate", object: @scene, object_url: generate_scene_url(@scene), desc: @scene.build_description %>
<%= render "fields/form", field: @scene %>

<!--creature set -->
<br>
<h4>Creatures</h4>
<%= render @scene.creatures %>
<%= link_to "New Creature", new_scene_creature_url(@scene.id)%>
<br>
<h4>Items</h4>
<%= render @scene.items %>
<%= link_to "New Item", new_scene_item_url(@scene.id)%>
<br>
<h4>Effects</h4>
<%= render @scene.effects %>
<%= link_to "New Effect", new_scene_effect_url(@scene.id)%>