<h1>User Home</h1>
<p>hello <%=current_user.email%></p>

<p>Coins:   <%=current_user.balance.to_i %></p>

<%= button_to "New Quest", new_quest_url, method: :get%>  
  <form action="<%=quests_url%>" method="get">
    <input type="submit" value="Quest List">
  </form>

<%= button_to "Sign out", destroy_user_session_path, method: :delete %>

<%  quest = current_user.quests.last %>
<% if quest != nil %>
<p><%= "pick up where you left off"%></p>
  <%=link_to "#{quest.scenario_name}", quest_url(quest.id)  %>
<%end %>
<!-- (current_user.id)-->