<form action="/fields" method="post"> <!--points a to field.create action generates new encounter completion with passed in type-->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <input type="hidden" name="field[type]" value="encounter">
  <input type="hidden" name="field[name]" value="<%=event["title"]%>">
  <input type="hidden" name="field[quest_id]" value="<%=quest.id%>">



<!-- WHAT ARE THE REQUIRED FIELDS??? -->


<li><%=event["order_number"]%>:
<input type="text" name="field[event_name]" value="<%=event["title"]%>"></li> 

<br>
<label for="description"></label>
<textarea name="field[description]" id="description" cols="30" rows="5">
<%=event["description"]%>
</textarea>  
<br>
<input type="submit" value="auto generate this event">
<ul>
<li>goal</li>
<textarea name="field[goal]" id="description" cols="30" rows="4">
</textarea> 
<br>
<li>obstacle</li>
<textarea name="field[obstacle]" id="description" cols="30" rows="4">
</textarea> 
<br>
<li>time-limit/pressure/danger</li> <!-- dmg dur dis-->
<textarea name="field[danger]" id="description" cols="30" rows="6">
</textarea> 
<br>
<li>consequences FAIL/PASS</li>
<textarea id="field[consequences]" cols="30" rows="4">
</textarea>  
<br>
</ul>
<br>
<input type="submit" value="save event">

</form> 