<h1><%=@encounter.name %></h1>
<%= link_to 'Back to Quest', quest_url(@encounter.quest) %>

<p>
  <%= @encounter.area_layout%>
  <br><br>
  <%= @encounter.location_description['smells']%>
  <br><br>
  <%= @encounter.location_description['sights']%>
  <br><br>
  <%= @encounter.location_description['sounds']%>
  <br><br>
  <%= @encounter.location_description['surroundings']%>
  <br>
</p>


<%= render "components/custom_list_items" %>

<%= render "components/list_items_index"%>
<!--list generated models-->
<%= render "components/list_items_new" %>
<!-- list encounter fields with forms -->
<br>
<br>
<br>

<!-- #<%@encounter.completion.each do |k, v|%> -->
<!-- #<%= "#{k} -> #{v}" %><br><br> -->
<!-- #<% end  %> -->


<!--top (desc room layout , room appeareance sights smells sounds)-->
<!--mid  creatures(with enemy/ally tags), encounter_timer, ongoing effects,  -->
<!--bottom  loot secrets, lore, creatures(neutral) -->