<h3><%=@encounter.encounter_name %></h1>
<%= link_to 'Back to Quest', quest_url(@encounter.quest) %>

<ul>
  <h3>primary threat</h3>
  <%= @encounter.sense_of_danger %>
  <h3>obstacle</h3>
  <%= @encounter.main_encounter_obstacle %>
  <h3>goal</h3>
  <%= @encounter.encounter_goal %>
</ul>

  <h3>timer</h3>

<h3>key_checks for the encounter</h3>
  <label>check one</label>
      <select>
        <option value="creature">Str</option>
        <option value="reward">Dex</option>
        <option value="active_effect">Con</option>
        <option value="special_mechanic">Wis</option>
        <option value="special_mechanic">Int</option>
        <option value="special_mechanic">Cha</option>
        <!-- <option value="special_mechanic">Custom</option> -->
      </select>
  <label>check two</label>
      <select>
        <option value="creature">Str</option>
        <option value="reward">Dex</option>
        <option value="active_effect">Con</option>
        <option value="special_mechanic">Wis</option>
        <option value="special_mechanic">Int</option>
        <option value="special_mechanic">Cha</option>
        <!-- <option value="special_mechanic">Custom</option> -->
      </select>
  <label>check three</label>
      <select>
        <option value="creature">Str</option>
        <option value="reward">Dex</option>
        <option value="active_effect">Con</option>
        <option value="special_mechanic">Wis</option>
        <option value="special_mechanic">Int</option>
        <option value="special_mechanic">Cha</option>
        <!-- <option value="special_mechanic">Custom</option> -->
      </select>
<ul>
  <h3>Target</h3>
  add a target
<!--select menue -->
  <li>str  -> target</li>
</ul>

<h3>spectacle</h3>
<p>
  <%= @encounter.the_impressive_spectacle%>
  <br>

 <%= @encounter.location_description['surroundings']%>
  <br>

  <%= @encounter.location_description['smells']%>
  <br>
  <%= @encounter.location_description['sights']%>
  <br>
  <%= @encounter.location_description['sounds']%>
  <br><br>

  <%= @encounter.summary %>
  <br>
</p>

<h3>paths</h3>

  <%= @encounter.next_steps_for_players %>
  <br><br>
  <%= @encounter.area_layout%>
  <br><br>

<p>

<h3>Components</h3>
  <% @encounter.creatures.each do |creature| %>
    <h4><%= creature["creature_name"]%></h4>
     <!--quantity, number_actions_per_turn, special_abilietes -->
     <%= render "components/creatures/stat_block", creature: creature%> 
  <%end %>
  <br>

    <% @encounter.rewards.each do |reward| %>
    <%= reward["reward_name"]%> |
  <%end %>
  <br>

  <% @encounter.special_mechanics.each do |mech| %>
    <%= mech["special_mechanic_name"]%> |
  <%end %>
  <br>

     <% @encounter.active_effects.each do |effect| %>
    <%= effect["active_effect_name"]%> |
  <%end %>
  <br>

  <br><br>

  


</p>


<%= render "components/custom_list_items", encounter: @encounter%>

<%= render "components/list_items_index", encounter: @encounter%>
<!--list generated models-->
<%= render "components/list_items_new", encounter: @encounter %>
<!-- list encounter fields with forms -->
<br>
