

<!-- <%# this should hold the fields that have been set
have a link to the next step
and a custom field %> -->

<%next_type = @queue[@pointer]%>

<h1>Field <%=@pointer%>  new </h1>


<p>this field --> <%=@pointer%></p>
<p>next field --> <%=next_type%></p>

<%= @field.attributes %> <br>
<%= @field.type %>

<p>the params will be nill because they are automatically set and are hidden</p>
 <p><%=params%></p> <br>


<form action="/fields" method="post">
<!-- must be here for field_params-->
<input type="hidden" name="field[type]" value="<%=@pointer%>">
<input type="hidden" name="field[quest_id]" value="<%=@field.quest_id%>">

<h3><%=@field.label%></h3><br>
<label for="value">input a value</label> 
	<input id="value" type="text" name="field[value]">
	<input type="submit">
</form>